@charset "utf-8";

body {
  background: #000;
  color: #ff0;
  width: 100%;
  height: 100%;
}
section {
  -webkit-perspective: 300;
  perspective: 300;
  width: 100%;
}
article {
/*  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
*/}
p {
  margin: 0 auto;
  text-align: center;
  max-width: 640px;
}
